In [ ]:
EmpID,Dept,Age,Salary
1,ABC,25,100
2,ABC,35,200
3,DEF,45,300
4,DEF,55,400

Output:
Dept,Avg Age, Avg Salary
ABC,30,150
DEF,50,350

In [1]:
import pandas as pd
data = {"EmpID":[1,2,3,4],"Dept":["ABC"]*2+["DEF"]*2,"Age":[25,35,45,55],"Salary":[100,200,300,400]}

In [2]:
df = pd.DataFrame(data)

In [3]:
df

   EmpID Dept  Age  Salary
0      1  ABC   25     100
1      2  ABC   35     200
2      3  DEF   45     300
3      4  DEF   55     400

In [9]:
gpd = df.groupby("Dept")

In [11]:
gpd.groups

{'ABC': [0, 1], 'DEF': [2, 3]}

In [13]:
list(gpd.Age.mean())

[30.0, 50.0]

In [16]:
list(gpd.groups.keys())

['ABC', 'DEF']

In [17]:
gpd.Age.mean()
gpd.Salary.mean()
opt_data = {"Dept":list(gpd.groups.keys()),"Avg Age":list(gpd.Age.mean()),"Avg Salary":list(gpd.Salary.mean())}
print(pd.DataFrame(opt_data))

  Dept  Avg Age  Avg Salary
0  ABC     30.0       150.0
1  DEF     50.0       350.0

In [18]:
data = {"EmpID":[1,2,3,4],"Dept":["ABC"]*2+["DEF"]*2,"Age":[25,35,45,55],"Salary":[100,200,300,400]}

In [19]:
data

{'EmpID': [1, 2, 3, 4],
 'Dept': ['ABC', 'ABC', 'DEF', 'DEF'],
 'Age': [25, 35, 45, 55],
 'Salary': [100, 200, 300, 400]}

In [21]:
opt_data = {}
for i,j,k in zip(data["Dept"],data["Age"],data["Salary"]):
    if i in opt_data:
        opt_data[i]["Age"].append(j)
        opt_data[i]["Salary"].append(k)
    else:
        opt_data[i] = {"Age":[j],"Salary":[k]}
for dept in opt_data:
    opt_data[dept]["Avg Age"] = sum(opt_data[dept]["Age"])/len(opt_data[dept]["Age"])
    opt_data[dept]["Avg Salary"] = sum(opt_data[dept]["Salary"])/len(opt_data[dept]["Salary"])
print(opt_data)

{'ABC': {'Age': [25, 35], 'Salary': [100, 200], 'Avg Age': 30.0, 'Avg Salary': 150.0}, 'DEF': {'Age': [45, 55], 'Salary': [300, 400], 'Avg Age': 50.0, 'Avg Salary': 350.0}}

In [ ]:
Largest palindrome:
abcaacde
abccbadef

In [30]:
def if_pelindrom(s):
    return s==s[::-1]
s = "abccbadef" 
for i in range(len(s)-1):
    new_str = s[i:i+2]
    k = 1
    while if_pelindrom(new_str):
        print(new_str)
        new_str = s[i-k]+new_str+s[i+k+1]
        k+=1

cc
bccb
abccba

In [31]:
def if_pelindrom(s):
    return s==s[::-1]
s = "abcaacde" 
for i in range(len(s)-1):
    new_str = s[i:i+2]
    k = 1
    while if_pelindrom(new_str):
        print(new_str)
        new_str = s[i-k]+new_str+s[i+k+1]
        k+=1

aa
caac

In [38]:
def if_pelindrom(s):
    return s==s[::-1]
s = "abccbccba" 
for i in range(len(s)-2):
    new_str = s[i:i+2]
    o = False
    if if_pelindrom(s[i:i+2]):
        new_str = s[i:i+2]

    elif if_pelindrom(s[i:i+3]):
        new_str = s[i:i+3]
        o = True

    k = 1
    i
    while if_pelindrom(new_str):
        print(new_str)
        if not o:
            new_str = s[i-k]+new_str+s[i+k+1]
        else:
            new_str = s[i-k]+new_str+s[i+k+2]
        k+=1
        if len(new_str)>len(s):
            break

cc
bccb
cbc
ccbcc
bccbccb
abccbccba

IndexError: string index out of range

In [59]:
s = "lljaba"

def longestPalindrome( s: str) -> str:
    ans=''
    for i in range(len(s)):
        ans=max(ans,expand(s,i,i), expand(s,i,i+1), key=len)
    return ans

def expand(s,i,j):
    while i>=0 and j<len(s) and s[i]==s[j]:
        i-=1
        j+=1
    return s[i+1:j]
print(longestPalindrome(s))

aba

In [64]:

s = "abccbccba"
s = "lljaba"
pdms = []
def expand(l,r,s):
    
    while  l>=0 and r<len(s) and s[l]==s[r]:
        l-=1
        r+=1
    return s[l+1:r]
for i in range(len(s)):
    l = i
    r = i+1
    pdms.append(expand(l,l,s))
    a = max(a,expand(l,l,s),key=len)
    print("a",a)
    print(pdms)

a l
['l']
a l
['l', 'l']
a l
['l', 'l', 'j']
a l
['l', 'l', 'j', 'a']
a aba
['l', 'l', 'j', 'a', 'aba']
a aba
['l', 'l', 'j', 'a', 'aba', 'a']

In [52]:
s[0:1]

'l'

In [66]:
max(['l', 'l', 'j', 'a', 'aba'],key=len)

'aba'